* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between; /* Логотип слева, меню по центру, действия справа */
    align-items: center; /* Центрирование по вертикали */
    background-color: #023d79; /* Цвет для фона шапки */
    padding: 0 20px;
    height: 100px; /* Фиксированная высота */
    border-bottom: 4px solid #0860b8; /* Легкая линия внизу */
}

header .logo {
    flex-shrink: 0; /* Логотип не уменьшается */
}

header .logo img {
    width: 250px; /* Размер логотипа */
    height: auto;
}

header nav {
    flex-grow: 1; /* Заставляет меню занимать оставшееся пространство */
    display: flex;
    justify-content: center; /* Центрирует список в области навигации */
}

header ul {
    display: flex; /* Горизонтальное расположение списка */
    list-style: none; /* Убираем маркеры списка */
    gap: 40px; /* Расстояние между пунктами меню */
    margin: 0;
    padding: 0;
}

header ul li a {
    color: white; /* Белый цвет текста */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header ul li a:hover {
    color: #c6c6c6; /* Эффект при наведении */
}
